.health {
   padding: 30px;
   margin: 50px;
   text-align: center;
}

.heading {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    /* background-color:  #E1E3EA; */
    padding: 10px;
    /* box-shadow: 2px 2px 5px gray; */
}

.family-image {
    width: 500px;
    box-shadow: 2px 2px 5px gray;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.tableHeading {
    text-align: center;
}