@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */

body {
  font-family: "Montserrat", sans-serif;
  max-width: 100% !important;
  overflow-x: hidden;
}

:root {
  --primary-green: #2bb873;
  --secondary-green: #135f3a;
}

/* ******************* HOME ******************* */

/* -------------- NAV -------------- */

.Nav {
  background-color: var(--primary-green);
  padding: 1rem;
  max-width: 100% !important;
  overflow-x: hidden;
}

/* -------------- Hero -------------- */

.hero {
  background-image: url("https://images.pexels.com/photos/305821/pexels-photo-305821.jpeg?cs=srgb&dl=pexels-scott-webb-305821.jpg&fm=jpg");
  padding: 18%;
  opacity: 90%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  /* text-align: center; */
  font-family: "Montserrat", sans-serif;
  max-width: 100% !important;
  overflow-x: hidden;
}

.hero h1 {
  font-size: 80px;
}

.hero h3 {
  font-size: 30px;
}

.hero button {
  margin-right: 0.5rem;
  margin-top: 1rem;
}

.fake-col {
  width: 2rem;
}

.real-col {
  margin-left: auto;
  margin-right: auto;
}

/* -------------- About Me -------------- */

.about-me {
  margin-top: 4rem;
  height: 35rem;
  overflow-x: hidden;
  max-width: 100% !important;
}

.aboutme-section {
  text-align: center;
}

.Card {
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  height: 30rem;
}

.img-container {
  text-align: center !important;
  align-items: center !important;
}

.about-me img {
  width: 30rem;
  height: 34rem;
  border-radius: 1rem;
}

/* -------------- Products -------------- */
.products-container {
  margin-top: 4rem;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.product-cards {
  background-color: var(--primary-green);
  margin: 1rem;
  max-width: 19rem;
  min-width: 19rem;
  max-height: 21rem;
  min-height: 21rem;
  box-shadow: 0.5rem 0.5rem 0.5rem var(--secondary-green);
}

.product-cards h3 {
  color: var(--secondary-green);
}

.product-cards img {
  /* max-width: 15rem;
  min-width: 15rem; */
  width: 100%;
  max-height: 12.5rem;
  min-height: 12.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.card-info {
  display: flex;
	flex-direction: column;
  align-content: center;
  border-bottom: 0.1rem solid grey;
}

.Card-footer {
  float: right;
  margin-right: 1rem;
 margin: 0.5rem;
}
/* -------------- Testimonials -------------- */
.carousel {
  width: 60%;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.carousel h3{
color: black !important;
}

.carousel img {
  width: 28rem;
  height: 30rem;
}

.carousel p {
  color: black;
}
